//Header.js
.header {
  padding: 20px;
  font-size: 2rem;
  background-color: #8d9db6;
  color: white;
  font-family: $fontStyle;
  font-weight: 1000;
}

// Form.js
.bookForm {
  font-size: 2rem;
  z-index: 1;
  background-color: #8d9db6;
  border-radius: 15px;
  color: white;

  &__inputs input {
    padding: 10px;
    font-size: $fontSize;
  }

  &__submit {
    @include buttonStyling;

    background-color: rgb(163, 236, 15);
    color: #6e6e6e;
    font-weight: 100;
    font-size: $fontSize;
    font-weight: 700;
  }

  &__submit:hover {
    background-color: #6e6e6e;
    color: rgb(163, 236, 15);
    font-weight: 700;
  }
}

// AddButton.js
.addBooks {
  &__button {
    @include buttonStyling;
    background-color: #8d9db6;
    color: white;
  }

  &__button:hover {
    background-color: #667292;
    cursor: pointer;
  }
}

//Card.js
.bookCard {
  background-color: white;
  border-radius: 15px;

  &__details {
    font-size: 1.4rem;
  }
}

.bookCardButtons {
  &__delete {
    @include buttonStyling;
  }

  &__isFinished {
    @include buttonStyling;
  }
}
